
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Flatline</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="css/shards.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="js/index.js" charset="utf-8"></script>
        <script src="js/search.js" charset="utf-8"></script>
        <script src="js/script.js" charset="utf-8"></script>
        <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="js/main.js"></script>
    </head>


    <body>
      <nav class="navbar navbar-expand-lg"><a class="navbar-brand" href="/">FlatLine</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="/"><b>Dashboard</b></a></li>
            <li class="nav-item"><a class="nav-link" href="/">Settings</a></li>
            <form id="search-field" class="form-inline my-2 my-lg-0 mobile-hide" onsubmit="return searchNav()" method="post">
              <input class="border-radius form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="border-radius btn btn-outline-success my-2 my-sm-0 text-center" type="submit">Search</button>
            </form>
          </ul>
        </div>
      </nav>
